//Shared styles for leaderboard components
.tooltip {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 4px;
}

.activeIcon {
  svg {
    fill: var(--d8x-color-text-active);
    opacity: 1;
  }
}
