@import '~styles/theme/theme.scss';

.root {
  display: grid;
  gap: 1rem;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;

    .left-column {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    .right-column {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
}

.statContainer {
  margin-top: $d8x-spacing * 4;
  text-align: left;
}

.statLabel {
  display: flex;
  justify-content: flex-start;
  color: var(--d8x-color-text-label-two);
  white-space: nowrap;
  margin-bottom: $d8x-spacing * 0.5;
  font-size: 12px;
}

.statValue {
  display: block;
  color: var(--d8x-color-text-highlight);
  font-weight: 600;
  white-space: nowrap;
}
