@import '~styles/theme/theme.scss';

.root {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 24px;
  border: 1px solid var(--d8x-block-border-color);
  background-color: var(--d8x-color-background-items);
}

.tab {
  padding: 12px 24px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;
  font-weight: 500;
  
  &:not(:last-child) {
    border-right: 1px solid var(--d8x-block-border-color);
  }
}

.active {
  color: var(--d8x-color-action);
  background-color: var(--d8x-color-action-secondary);
  font-weight: 600;
}

.inactive {
  color: var(--d8x-color-text-primary);
  background-color: var(--d8x-color-background-items);

  &:hover {
    background-color: var(--d8x-color-background-hover);
  }
}